header {
    background: #007bff;
    color: white;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #28a745;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background: #218838;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #007bff;
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

.whatsapp-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


.prev {
    left: 0;
}

.next {
    right: 0;
}

.testimony {
    max-width: 500px;
}

